name: analyze

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run Slither
      uses: crytic/slither-action@v0.1.0
      continue-on-error: true
      id: slither
      with:
        target: 'contracts/'
